<div class="row">
	<div class="col-3">
		<div class="form-group">
			<label for="card">Card number</label>
			<input type="text" class="form-control px-5" id="card" >
			<div class="invalid-feedback">
				<span>Not a valid card number</span>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-1">
		<div class="form-group">
			<label for="expdate" class="text-center">ExpDate</label>
			<input type="text" class="form-control" id="expdate" maxlength="5" style="width: 100px;">
			<div class="invalid-feedback">
				<span>Expired</span>
			</div>
		</div>
	</div>
	<div class="col-2 offset-1">
		<div class="form-group">
			<label for="cvv">CVV code</label>
			<input type="text" class="form-control" id="cvv" maxlength="3" style="width: 90px;">
		</div>
	</div>
</div>
<div class="row">
	<div class="col-3">
		<div class="form-group">
			<label for="name">Cardholder name</label>
			<input type="text" class="form-control" id="name">
			<div class="invalid-feedback">
				<span>This field must be filled</span>
			</div>
		</div>
	</div>
</div>
<button class="btn btn-primary" id="pay">Pay</button>
