<div class="row">
	<div class="col-3">
		<div class="form-group">
			<label for="card">Card number</label>
			<input type="text" class="form-control" id="card">
		</div>
	</div>
</div>
<div class="row">
	<div class="col-3">
		<div class="form-group">
			<label for="expdate">ExpDate</label>
			<input type="text" class="form-control" id="expdate" maxlength="5">
		</div>
	</div>
	<div class="col-3">
		<div class="form-group">
			<label for="cvv">CVV number</label>
			<input type="text" class="form-control" id="cvv" maxlength="3">
		</div>
	</div>
</div>
<div class="row">
	<div class="col-3">
		<div class="form-group">
			<label for="name">Cardholder name</label>
			<input type="text" class="form-control" id="name">
		</div>
	</div>
</div>
<button class="btn btn-primary">More</button>
