<div class="row">
	<div class="col-3">
		<div class="form-group">
			<label for="phone">Phone number</label>
			<input type="text" class="form-control" id="phone">
			<div class="invalid-feedback">
				<span>Not a valid phone number</span>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-3 packets">	
	</div>
</div>
<div class="row">
	<div class="col-3">
		<div class="form-group">
			<label for="sum">Sum</label>
			<input type="text" class="form-control" id="sum">
			<div class="invalid-feedback">
					<span>Not a valid total sum</span>
			</div>
		</div>
	</div>
</div>
<button class="btn btn-primary mt-2" id="more">More</button>
